=form_for @note, :url => {:controller => "notes", :action => "create"}, :html => { :multipart => true } do |f|
  .field
    =f.label :title
    =f.text_field :title
  .field
    =f.label :content
    =f.text_area :content
  .field
    =f.label :attachment
    =f.file_field :attachment

  .action
    =f.submit "abschicken"
